TestLibraryConsole/bin/Debug
*Debug*
GeneratedClass*
*.suo
*.template
EventHandler*
*.asv
Matlab/Doc/helpfiles/*
Matlab/Doc/html/*
Matlab/DotNetLibrary/GeneratedCommunicator*.dll
*.html
*.mat
*.zip
*.fig
*.xml
*.db
